* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
body {
    /* background-color: rgb(230, 227, 227); */
    background-color: rgb(232, 234, 234);
}

/* Category */
#productCardImg {
    object-fit: contain;
    height: 300px;
    width: 100%;
    
}

